In [2]:
import pandas as pd
import numpy as np

### Importación de datos

In [3]:
sv19_df = pd.read_csv('sourceData/total_sv19.csv')
sv19_df = sv19_df[['CVE_MUNICIPIO', 'total']].astype(int)
sv19_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 393 entries, 0 to 392
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CVE_MUNICIPIO  393 non-null    int64
 1   total          393 non-null    int64
dtypes: int64(2)
memory usage: 6.3 KB

In [4]:
sv20_df = pd.read_csv('sourceData/total_sv20.csv')
sv20_df = sv20_df[['CVE_MUNICIPIO', 'total']].astype(int)
sv20_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 981 entries, 0 to 980
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CVE_MUNICIPIO  981 non-null    int64
 1   total          981 non-null    int64
dtypes: int64(2)
memory usage: 15.5 KB

In [5]:
sv1920_df = pd.read_csv('sourceData/sv_1920.csv')
sv1920_df = sv1920_df[['ET_ID', 'total1920']]
sv1920_df.columns = ['ET_ID', 'Total 2019-2020']
sv1920_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2469 entries, 0 to 2468
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ET_ID            2469 non-null   int64
 1   Total 2019-2020  2469 non-null   int64
dtypes: int64(2)
memory usage: 38.7 KB

### Limpieza de los DataFrames

In [6]:
et_id = sv1920_df['ET_ID'].to_list()
sv_19_cve_municipio = sv19_df['CVE_MUNICIPIO'].to_list()
sv19_missing = [i for i in et_id if i not in sv_19_cve_municipio]
sv19_missing_df = pd.DataFrame({'CVE_MUNICIPIO': sv19_missing, 'total': np.zeros(len(sv19_missing))})
sv19_df = pd.concat([sv19_df, sv19_missing_df], ignore_index=True)
sv19_df.columns = ['CVE_MUNICIPIO', 'Total 2019']
sv19_df

      CVE_MUNICIPIO  Total 2019
0              2001     40000.0
1              2002      5000.0
2              2004     50000.0
3              4002    105000.0
4              4003    935000.0
...             ...         ...
2467          32054         0.0
2468          32055         0.0
2469          32056         0.0
2470          32057         0.0
2471          32058         0.0

[2472 rows x 2 columns]

In [7]:
et_id = sv1920_df['ET_ID'].to_list()
sv_20_cve_municipio = sv20_df['CVE_MUNICIPIO'].to_list()
sv20_missing = [i for i in et_id if i not in sv_20_cve_municipio]
sv20_missing_df = pd.DataFrame({'CVE_MUNICIPIO': sv20_missing, 'total': np.zeros(len(sv20_missing))})
sv20_df = pd.concat([sv20_df, sv20_missing_df], ignore_index=True)
sv20_df.columns = ['CVE_MUNICIPIO', 'Total 2020']
sv20_df

      CVE_MUNICIPIO  Total 2020
0              2001     10000.0
1              2004     10000.0
2              4001  39565000.0
3              4002    220000.0
4              4003    150000.0
...             ...         ...
2465          32054         0.0
2466          32055         0.0
2467          32056         0.0
2468          32057         0.0
2469          32058         0.0

[2470 rows x 2 columns]

### División en cuantiles

In [8]:
def quantiles(df: pd.DataFrame, values: str, cvs_muncs: str, variable: str='', n: int=10, groupZeros: bool=False) -> pd.DataFrame :
    """
    Divide los datos de un DataFrame en cuantiles.

    Parameters
    ----------
    df : pd.DataFrame
        DataFrame con los datos a separar.
    values : str
        Columna con los valores a comparar.
    cvs_muncs : str
        Columna con los elementos a agrupar en cada cuantil.
    variable : str, optional
        Nombre que se le asignará a la variable, por defecto se usará el nombre de la columna seleccionada en 'values'.
    n : int, optional
        Número de cuantiles, `10` cuantiles por defecto.
    groupZeros : bool, optional
        Si se desea crear un cuantil 0, el cual agrupará los elementos con valor `0.0`, `False` por defecto.

    Returns
    -------
    pd.DataFrame
        DataFrame con los datos separados en cuantiles, con el nombre de la variable, el índice del cuantil, los límites
        de los cuantiles y los elementos que pertenecen a cada cuantil como columnas.
    """
    
    variable = values if variable == '' else variable
    df = df.sort_values(by=values, ascending=True)
    zeros = 0
    names = [variable for _ in range(n + groupZeros)]
    bins = []
    lower = []
    upper = []
    muncs = []

    if groupZeros:
        zeros = df[values].value_counts().get(0,0)
        zeroQuantile = df.iloc[0:zeros, [0,1]]
        bins.append(0)
        lower.append(np.float64(zeroQuantile[values].iloc[0]))
        upper.append(np.float64(zeroQuantile[values].iloc[-1]))
        muncs.append(list(zeroQuantile[cvs_muncs]))

    quantiles = np.array_split(df.iloc[zeros:], n)

    for i, q in enumerate(quantiles):
        bins.append(i+1)
        lower.append(np.float64(q[values].iloc[0]))
        upper.append(np.float64(q[values].iloc[-1]))
        muncs.append(list(q[cvs_muncs]))


    return pd.DataFrame({'name':names, 'bin':bins, 'lower': lower, 'upper': upper, 'cells':muncs})

In [9]:
total_sv19_df = quantiles(sv19_df, 'Total 2019', 'CVE_MUNICIPIO', n=10)
total_sv19_df

,name,bin,lower,upper,cells
0,Total 2019,1,0.0,0.0,"[13023, 19017, 19018, 19020, 19021, 19022, 190..."
1,Total 2019,2,0.0,0.0,"[20071, 20070, 20069, 20041, 20045, 20048, 200..."
2,Total 2019,3,0.0,0.0,"[15090, 15091, 15093, 15113, 15114, 15115, 160..."
3,Total 2019,4,0.0,0.0,"[26005, 26006, 26007, 26008, 26009, 26010, 250..."
4,Total 2019,5,0.0,0.0,"[20439, 20442, 20374, 20443, 20446, 20447, 204..."
5,Total 2019,6,0.0,0.0,"[20221, 12035, 21183, 31054, 20282, 31094, 200..."
6,Total 2019,7,0.0,0.0,"[20204, 28019, 21030, 20518, 20465, 20341, 290..."
7,Total 2019,8,0.0,0.0,"[5018, 5017, 5027, 7014, 7017, 7020, 7093, 708..."
8,Total 2019,9,0.0,5160000.0,"[1001, 8029, 8027, 4004, 18009, 25017, 30123, ..."
9,Total 2019,10,5275000.0,908500000.0,"[30116, 30034, 30145, 30071, 7088, 21029, 3016..."

In [10]:
total_sv20_df = quantiles(sv20_df, 'Total 2020', 'CVE_MUNICIPIO', n=10)
total_sv20_df

,name,bin,lower,upper,cells
0,Total 2020,1,0.0,0.0,"[13024, 19018, 19020, 19021, 19022, 19023, 190..."
1,Total 2020,2,0.0,0.0,"[20072, 20090, 20071, 20069, 20045, 20048, 200..."
2,Total 2020,3,0.0,0.0,"[15090, 15091, 15092, 15094, 15114, 15115, 151..."
3,Total 2020,4,0.0,0.0,"[26004, 26005, 26006, 26007, 26008, 26009, 260..."
4,Total 2020,5,0.0,0.0,"[20438, 20439, 20442, 20374, 20443, 20446, 204..."
5,Total 2020,6,0.0,0.0,"[13023, 7085, 7083, 7078, 7075, 7064, 7058, 70..."
6,Total 2020,7,0.0,1680000.0,"[11003, 11007, 11008, 11009, 11010, 11011, 110..."
7,Total 2020,8,1690000.0,7315000.0,"[8051, 21049, 17002, 21101, 20223, 20288, 2102..."
8,Total 2020,9,7325000.0,21425000.0,"[30157, 31058, 29040, 20394, 29008, 20486, 301..."
9,Total 2020,10,21430000.0,955155000.0,"[30100, 24014, 30195, 10030, 7079, 7069, 30204..."

In [11]:
total_sv1920_df = quantiles(sv1920_df, 'Total 2019-2020', 'ET_ID', n=10)
total_sv1920_df

,name,bin,lower,upper,cells
0,Total 2019-2020,1,0.0,0.000000e+00,"[13027, 19018, 19020, 19021, 19022, 19023, 190..."
1,Total 2019-2020,2,0.0,0.000000e+00,"[20072, 20090, 20071, 20069, 20045, 20048, 200..."
2,Total 2019-2020,3,0.0,0.000000e+00,"[15090, 15091, 15092, 15094, 15114, 15115, 151..."
3,Total 2019-2020,4,0.0,0.000000e+00,"[26004, 26005, 26006, 26007, 26008, 26009, 260..."
4,Total 2019-2020,5,0.0,0.000000e+00,"[20438, 20439, 20442, 20374, 20443, 20446, 204..."
5,Total 2019-2020,6,0.0,5.000000e+03,"[13023, 7108, 7106, 7098, 7094, 7093, 7086, 70..."
6,Total 2019-2020,7,5000.0,1.835000e+06,"[18017, 19038, 16058, 28028, 21140, 21166, 260..."
7,Total 2019-2020,8,1840000.0,8.415000e+06,"[31003, 20093, 20456, 20304, 31072, 20237, 200..."
8,Total 2019-2020,9,8425000.0,2.654000e+07,"[10015, 20520, 30150, 20274, 8041, 21025, 2041..."
9,Total 2019-2020,10,27265000.0,1.863655e+09,"[29034, 16065, 12057, 7091, 30127, 10019, 1003..."

In [12]:
## |Sembrando vida total 2019, q00, 0.0:0.0|cells

def varByQuantil(df: pd.DataFrame, values: str, cvs_muncs: str, variable: str='', n: int=10, groupZeros: bool=False) -> pd.DataFrame :
    """
    Divide los datos de un DataFrame en cuantiles, donde cada cuantil es una variable diferente.

    Parameters
    ----------
    df : pd.DataFrame
        DataFrame con los datos a separar.
    values : str
        Columna con los valores a comparar.
    cvs_muncs : str
        Columna con los elementos a agrupar en cada cuantil.
    variable : str, optional
        Nombre que se le asignará a la variable, por defecto se usará el nombre de la columna seleccionada en 'values'.
    n : int, optional
        Número de cuantiles, `10` cuantiles por defecto.
    groupZeros : bool, optional
        Si se desea crear un cuantil 0, el cual agrupará los elementos con valor `0.0`, `False` por defecto.

    Returns
    -------
    pd.DataFrame
        DataFrame con los datos separados en cuantiles, con el nombre de la variable y los elementos que pertenecen a
        cada cuantil como columnas. El nombre de cada variable es de la forma 'name, qi,l:u' donde `name` es el nombre
        de la variable ingresado, `i` el índice del cuantil, `l` el límite inferior del cuantil y `u` el límite
        superior del cuantil.
    """
    
    variable = values if variable == '' else variable
    df = df.sort_values(by=values, ascending=True)
    zeros = 0
    names = []
    muncs = []

    if groupZeros:
        zeros = df[values].value_counts().get(0,0)
        zeroQuantile = df.iloc[0:zeros, [0,1]]
        name = variable + ', q00, 0.0:0.0'
        names.append(name)
        muncs.append(list(zeroQuantile[cvs_muncs]))

    quantiles = np.array_split(df.iloc[zeros:], n)

    for i, q in enumerate(quantiles):
        name = variable + ', q' + '{:02}'.format(i+1) + ', ' + str(np.float64(q[values].iloc[0])) + ':' + str(np.float64(q[values].iloc[-1]))
        names.append(name)
        muncs.append(list(q[cvs_muncs]))


    return pd.DataFrame({'name':names, 'cells':muncs})

In [13]:
total_sv19_df = varByQuantil(sv19_df, 'Total 2019', 'CVE_MUNICIPIO', n=10, variable='Sembrando vida total 2019')
total_sv19_df

,name,cells
0,"Sembrando vida total 2019, q01, 0.0:0.0","[13023, 19017, 19018, 19020, 19021, 19022, 190..."
1,"Sembrando vida total 2019, q02, 0.0:0.0","[20071, 20070, 20069, 20041, 20045, 20048, 200..."
2,"Sembrando vida total 2019, q03, 0.0:0.0","[15090, 15091, 15093, 15113, 15114, 15115, 160..."
3,"Sembrando vida total 2019, q04, 0.0:0.0","[26005, 26006, 26007, 26008, 26009, 26010, 250..."
4,"Sembrando vida total 2019, q05, 0.0:0.0","[20439, 20442, 20374, 20443, 20446, 20447, 204..."
5,"Sembrando vida total 2019, q06, 0.0:0.0","[20221, 12035, 21183, 31054, 20282, 31094, 200..."
6,"Sembrando vida total 2019, q07, 0.0:0.0","[20204, 28019, 21030, 20518, 20465, 20341, 290..."
7,"Sembrando vida total 2019, q08, 0.0:0.0","[5018, 5017, 5027, 7014, 7017, 7020, 7093, 708..."
8,"Sembrando vida total 2019, q09, 0.0:5160000.0","[1001, 8029, 8027, 4004, 18009, 25017, 30123, ..."
9,"Sembrando vida total 2019, q10, 5275000.0:9085...","[30116, 30034, 30145, 30071, 7088, 21029, 3016..."

In [14]:
total_sv20_df = varByQuantil(sv20_df, 'Total 2020', 'CVE_MUNICIPIO', n=10, variable='Sembrando vida total 2020')
total_sv20_df

,name,cells
0,"Sembrando vida total 2020, q01, 0.0:0.0","[13024, 19018, 19020, 19021, 19022, 19023, 190..."
1,"Sembrando vida total 2020, q02, 0.0:0.0","[20072, 20090, 20071, 20069, 20045, 20048, 200..."
2,"Sembrando vida total 2020, q03, 0.0:0.0","[15090, 15091, 15092, 15094, 15114, 15115, 151..."
3,"Sembrando vida total 2020, q04, 0.0:0.0","[26004, 26005, 26006, 26007, 26008, 26009, 260..."
4,"Sembrando vida total 2020, q05, 0.0:0.0","[20438, 20439, 20442, 20374, 20443, 20446, 204..."
5,"Sembrando vida total 2020, q06, 0.0:0.0","[13023, 7085, 7083, 7078, 7075, 7064, 7058, 70..."
6,"Sembrando vida total 2020, q07, 0.0:1680000.0","[11003, 11007, 11008, 11009, 11010, 11011, 110..."
7,"Sembrando vida total 2020, q08, 1690000.0:7315...","[8051, 21049, 17002, 21101, 20223, 20288, 2102..."
8,"Sembrando vida total 2020, q09, 7325000.0:2142...","[30157, 31058, 29040, 20394, 29008, 20486, 301..."
9,"Sembrando vida total 2020, q10, 21430000.0:955...","[30100, 24014, 30195, 10030, 7079, 7069, 30204..."

In [15]:
total_sv1920_df = varByQuantil(sv1920_df, 'Total 2019-2020', 'ET_ID', n=10, variable='Sembrando vida total 2019-2020')
total_sv1920_df

,name,cells
0,"Sembrando vida total 2019-2020, q01, 0.0:0.0","[13027, 19018, 19020, 19021, 19022, 19023, 190..."
1,"Sembrando vida total 2019-2020, q02, 0.0:0.0","[20072, 20090, 20071, 20069, 20045, 20048, 200..."
2,"Sembrando vida total 2019-2020, q03, 0.0:0.0","[15090, 15091, 15092, 15094, 15114, 15115, 151..."
3,"Sembrando vida total 2019-2020, q04, 0.0:0.0","[26004, 26005, 26006, 26007, 26008, 26009, 260..."
4,"Sembrando vida total 2019-2020, q05, 0.0:0.0","[20438, 20439, 20442, 20374, 20443, 20446, 204..."
5,"Sembrando vida total 2019-2020, q06, 0.0:5000.0","[13023, 7108, 7106, 7098, 7094, 7093, 7086, 70..."
6,"Sembrando vida total 2019-2020, q07, 5000.0:18...","[18017, 19038, 16058, 28028, 21140, 21166, 260..."
7,"Sembrando vida total 2019-2020, q08, 1840000.0...","[31003, 20093, 20456, 20304, 31072, 20237, 200..."
8,"Sembrando vida total 2019-2020, q09, 8425000.0...","[10015, 20520, 30150, 20274, 8041, 21025, 2041..."
9,"Sembrando vida total 2019-2020, q10, 27265000....","[29034, 16065, 12057, 7091, 30127, 10019, 1003..."

### Almacenamineto de los datos en JSON

In [ ]:
## total_sv19_df.to_json('generatedData/sembrandoVida/sv19.json', index=False, orient='records')
## total_sv20_df.to_json('generatedData/sembrandoVida/sv20.json', index=False, orient='records')
## total_sv1920_df.to_json('generatedData/sembrandoVida/sv1920.json', index=False, orient='records')

### Comparación con los datos de `covariables_sv.csv`

In [17]:
covariables19_df = pd.read_csv("sourceData/covariables_sv.csv", dtype={'especievalida':str, 'min':str, 'max':str, 'ET_ID':int})[:2469]
covariables19_df['especievalida'] = covariables19_df['especievalida'].replace(regex=['\APolitic01.p', ' .*'], value='')
covariables19_df = covariables19_df[['especievalida', 'ET_ID']]
covariables19_df

     especievalida  ET_ID
0               00  15030
1               00  15069
2               00  20103
3               00  20157
4               00  20215
...            ...    ...
2464            09  23004
2465            00   4006
2466            10   7059
2467            10  23002
2468            10   4010

[2469 rows x 2 columns]

In [18]:
covariables20_df = pd.read_csv("sourceData/covariables_sv.csv", dtype={'especievalida':str, 'min':str, 'max':str, 'ET_ID':int})[2469:4938]
covariables20_df['especievalida'] = covariables20_df['especievalida'].replace(regex=['\APolitic02.p', ' .*'], value='')
covariables20_df = covariables20_df[['especievalida', 'ET_ID']].reset_index(drop=True)
covariables20_df

     especievalida  ET_ID
0               00  15030
1               00  15069
2               00  20103
3               00  20157
4               02  20215
...            ...    ...
2464            10  23004
2465            10   4006
2466            10   7059
2467            10  23002
2468            10   4010

[2469 rows x 2 columns]

In [19]:
covariables1920_df = pd.read_csv("sourceData/covariables_sv.csv", dtype={'especievalida':str, 'min':str, 'max':str, 'ET_ID':int})[4938:7407]
covariables1920_df['especievalida'] = covariables1920_df['especievalida'].replace(regex=['\APolitic03.p', ' .*'], value='')
covariables1920_df = covariables1920_df[['especievalida', 'ET_ID']].reset_index(drop=True)
covariables1920_df

     especievalida  ET_ID
0               00  15030
1               00  15069
2               00  20103
3               00  20157
4               02  20215
...            ...    ...
2464            10  23004
2465            10   4006
2466            10   7059
2467            10  23002
2468            10   4010

[2469 rows x 2 columns]

Distribución de las celdas en cada cuantil por año

In [20]:
def cells_by_quantile(df, variable):
    cells = {}
    for i in range(0,11):
        q_index = '{:02}'.format(i)
        q = df[variable].value_counts().get(q_index,0)
        cells[q_index] = q
    return cells

cells19 = cells_by_quantile(covariables19_df, 'especievalida')
cells20 = cells_by_quantile(covariables20_df, 'especievalida')
cells1920 = cells_by_quantile(covariables1920_df, 'especievalida')
print(cells19)
print(cells20)
print(cells1920)

{'00': 2079, '01': 39, '02': 38, '03': 39, '04': 40, '05': 39, '06': 39, '07': 39, '08': 39, '09': 39, '10': 39}
{'00': 1489, '01': 97, '02': 98, '03': 99, '04': 98, '05': 98, '06': 98, '07': 98, '08': 98, '09': 98, '10': 98}
{'00': 1479, '01': 98, '02': 100, '03': 99, '04': 99, '05': 99, '06': 99, '07': 99, '08': 99, '09': 99, '10': 99}

Obteniendo las celdas de cada quantil por año

In [21]:
def get_quantile_cells(df: pd.DataFrame, q:int, variable:str, cell:str):
    quantiles = [[] for i in range(0,q)]
    for i in range(0,q):
        q = '{:02}'.format(i)
        
        for j in range(0,len(df)):
            if df[variable][j] == q:
                quantiles[i].append(df[cell][j])
    return quantiles

q_cov19 = get_quantile_cells(covariables19_df, 11, 'especievalida', 'ET_ID')
q_cov20 = get_quantile_cells(covariables20_df, 11, 'especievalida', 'ET_ID')
q_cov1920 = get_quantile_cells(covariables1920_df, 11, 'especievalida', 'ET_ID')
print(q_cov19)
print(q_cov20)
print(q_cov1920)

[[15030, 15069, 20103, 20157, 20215, 20389, 20393, 21013, 21038, 21097, 21117, 21118, 21144, 26007, 20411, 20087, 15044, 20192, 11044, 32057, 26016, 20063, 32006, 21151, 20538, 21125, 26070, 29054, 20174, 26060, 20132, 29056, 29060, 20315, 20555, 20013, 15100, 32013, 32005, 20539, 14098, 20069, 21090, 8053, 20542, 20077, 29058, 24049, 20342, 20109, 29048, 20049, 20338, 15058, 29008, 20268, 20403, 20033, 26048, 15108, 29053, 26071, 29057, 20145, 29044, 29042, 10036, 15031, 15022, 15125, 20375, 20387, 20007, 20390, 26026, 20061, 26047, 21181, 15076, 20227, 24025, 16011, 1004, 32037, 15053, 20488, 13069, 32053, 15011, 1011, 15055, 21146, 20452, 32016, 29011, 20301, 32035, 26064, 9014, 21041, 20106, 20238, 29059, 9015, 29045, 20360, 15027, 26025, 20144, 26046, 32054, 21182, 29029, 20241, 15059, 20380, 20493, 32032, 14070, 15073, 20399, 20101, 20556, 29019, 29051, 15012, 21128, 29049, 26056, 21133, 26017, 20096, 1009, 29016, 21171, 32025, 17031, 26004, 32039, 21126, 20165, 8024, 21136, 5010, 26055, 26020, 29039, 15006, 15061, 20224, 26065, 15072, 21148, 15028, 32017, 26072, 16105, 20558, 26058, 15054, 15081, 24033, 1002, 32056, 21140, 5017, 32022, 21052, 1007, 17033, 8026, 13074, 20250, 20054, 1010, 20197, 20385, 21095, 20023, 29002, 32050, 21021, 29032, 29035, 32002, 29005, 21102, 26036, 26028, 21020, 20243, 17003, 32036, 20343, 20289, 29041, 8058, 20369, 20099, 8001, 1006, 29027, 16060, 11031, 8067, 20256, 26037, 17006, 28009, 21139, 29001, 20456, 29007, 32052, 13082, 11024, 17034, 32051, 8014, 11026, 29026, 10010, 21060, 20303, 15084, 15023, 20521, 8039, 20062, 20310, 32024, 29047, 29023, 17035, 26014, 24035, 13010, 20351, 20290, 8055, 21132, 28015, 32029, 20518, 20350, 21131, 20550, 29017, 11016, 26033, 15029, 20568, 21066, 20547, 15071, 15092, 21214, 14039, 20068, 20078, 20140, 29009, 21082, 21153, 20368, 21134, 8038, 8016, 20349, 13070, 21031, 29018, 20047, 19035, 29038, 20409, 20564, 20107, 20436, 29022, 13065, 20295, 21185, 29055, 13066, 20035, 17010, 15089, 20422, 21108, 20147, 8028, 26050, 17013, 26024, 7058, 19015, 1001, 21059, 21205, 15121, 14074, 16103, 21154, 10028, 9003, 29036, 8021, 11013, 21096, 20115, 14009, 26066, 20045, 29043, 11038, 20170, 15019, 15068, 15096, 20283, 24009, 20464, 8052, 15002, 15104, 29003, 20381, 3009, 20110, 13013, 13051, 26053, 17002, 29052, 20308, 8015, 20565, 15091, 16003, 14101, 15094, 15083, 21062, 14018, 20287, 15017, 20281, 14035, 17011, 21127, 21189, 11010, 20129, 20267, 20286, 32038, 20510, 20322, 28040, 19012, 32008, 21079, 1005, 20146, 21070, 20371, 30136, 20383, 8044, 21012, 20118, 32003, 29033, 24056, 21104, 7028, 20356, 20086, 8064, 15010, 21155, 20503, 20120, 8022, 20320, 14060, 24007, 8050, 11025, 19021, 14047, 20430, 21165, 20358, 9005, 20249, 21201, 17030, 20384, 20362, 20396, 14072, 20374, 20376, 8002, 5022, 26062, 20092, 15075, 8023, 21033, 13021, 14116, 17028, 20352, 8042, 20408, 20025, 21176, 20569, 17014, 15079, 21009, 20167, 20127, 20523, 28033, 19023, 20032, 17032, 20015, 24045, 15120, 8003, 11037, 21063, 5028, 14064, 20245, 13058, 17012, 26063, 15109, 24022, 8062, 10024, 14111, 20034, 21130, 21166, 5019, 19010, 21164, 20228, 21004, 5003, 14002, 29025, 20050, 13041, 20083, 20444, 21124, 20305, 20402, 28027, 20195, 17026, 5037, 26045, 20160, 20246, 20501, 15033, 20332, 26039, 30002, 20445, 21007, 17036, 28025, 20248, 20219, 17027, 20264, 28007, 20121, 32004, 20080, 20311, 20479, 30185, 29004, 26013, 20122, 21112, 13023, 20199, 20284, 13072, 20552, 21113, 14063, 21040, 8061, 20524, 20162, 26022, 15018, 13056, 20372, 20065, 19003, 16042, 14091, 16048, 20353, 5025, 14125, 15098, 16078, 21055, 21196, 20093, 20404, 20382, 15036, 5001, 10011, 20341, 13067, 20531, 20551, 14105, 21030, 14044, 2003, 20142, 13075, 15035, 29024, 16076, 22007, 20030, 13064, 20251, 26034, 20164, 28024, 20432, 20186, 21122, 13050, 20196, 5013, 20461, 20561, 20441, 16088, 20519, 20221, 26030, 8011, 15042, 21137, 20180, 15065, 20155, 24001, 14078, 5034, 7119, 20239, 21015, 16018, 20529, 20216, 12050, 20530, 13083, 20112, 13048, 11018, 26001, 16062, 20191, 24044, 20252, 21067, 20172, 20370, 26011, 11035, 20455, 14109, 22006, 30096, 21065, 20354, 21011, 21149, 16109, 21037, 20230, 20163, 9013, 5029, 5036, 20128, 21135, 21026, 28038, 14096, 29020, 20051, 16074, 11017, 20114, 13044, 13054, 21028, 32030, 14073, 14001, 13022, 19027, 17018, 14030, 30074, 20563, 16020, 19001, 17008, 20218, 20075, 21141, 20233, 21008, 20091, 19040, 14095, 26021, 29010, 26068, 20274, 11012, 20378, 20499, 21190, 20528, 11001, 29031, 20203, 19006, 20046, 29037, 20276, 30012, 11005, 32027, 21022, 21115, 16004, 15049, 21091, 20476, 20388, 20259, 17029, 11004, 20379, 30135, 26059, 13008, 31083, 20359, 29014, 29040, 21099, 16051, 16041, 20102, 14057, 14051, 20346, 15013, 7110, 20462, 19026, 21019, 29046, 16023, 14089, 20056, 20067, 15016, 21161, 5009, 14117, 20270, 20329, 20017, 16039, 21046, 20451, 11036, 11041, 24021, 20089, 5032, 10020, 20314, 20438, 20562, 14004, 21005, 22017, 20154, 20022, 20313, 21001, 21209, 14007, 21023, 29050, 13009, 13076, 21203, 20072, 13052, 21056, 24046, 15115, 21163, 32014, 30106, 14041, 32044, 20395, 21110, 31082, 14123, 16113, 21106, 20293, 13035, 13059, 14029, 21152, 20194, 14046, 20541, 14107, 21042, 26012, 21074, 29030, 14081, 20297, 20328, 31064, 2005, 16044, 8056, 13017, 20331, 20244, 5033, 15116, 31020, 15050, 20074, 32041, 32045, 20094, 31051, 15106, 21143, 3002, 20429, 19020, 21073, 20206, 20434, 20004, 32058, 20400, 12005, 25011, 32018, 20480, 21162, 20055, 16043, 20483, 10008, 20545, 20486, 21120, 19019, 21069, 21129, 7123, 20081, 25002, 5008, 20299, 20168, 21168, 14005, 20471, 17001, 11027, 17016, 7098, 5014, 26023, 21206, 17021, 20135, 20257, 20474, 16055, 20459, 21024, 13077, 21121, 20433, 20258, 28014, 30097, 20225, 20317, 30017, 16036, 20534, 26038, 20475, 26043, 15074, 21191, 20335, 20178, 22012, 5015, 32040, 8033, 29028, 21098, 20048, 20345, 32015, 20367, 14083, 5012, 12065, 17005, 20223, 15043, 14025, 20261, 32001, 20011, 20485, 13019, 21045, 21150, 13055, 7056, 21142, 20181, 20158, 21092, 17004, 20183, 20304, 14066, 20090, 15034, 15101, 20070, 14024, 14118, 14055, 32011, 20119, 20169, 11014, 20506, 20027, 20097, 13032, 15107, 21048, 15064, 21018, 20507, 20533, 30182, 20148, 29015, 14114, 31013, 20029, 15048, 20255, 14013, 20105, 13001, 20484, 20151, 20226, 9008, 31061, 32046, 8036, 7118, 20237, 21177, 20423, 13039, 11007, 14077, 20247, 9004, 16007, 14008, 21157, 20419, 21215, 29012, 11021, 20138, 20553, 19005, 20240, 20361, 20235, 8060, 24048, 31105, 20222, 20084, 24016, 30187, 10021, 20294, 21169, 20321, 29013, 11034, 20079, 20095, 20492, 20391, 20532, 20292, 20340, 19029, 28022, 14104, 20355, 20497, 20520, 2006, 20124, 15087, 29021, 20204, 20152, 21057, 20040, 16077, 19050, 15102, 20288, 30081, 20020, 10004, 20100, 20494, 20026, 15005, 12067, 20111, 3001, 20567, 13030, 14054, 14037, 15067, 12069, 20536, 14016, 21160, 21035, 16017, 16045, 15014, 19047, 20039, 20323, 20285, 21093, 15040, 14092, 20508, 20038, 26032, 20463, 16086, 16106, 20481, 13061, 15114, 20425, 15095, 15003, 20509, 24043, 14124, 20540, 20269, 20312, 20420, 16069, 24028, 19041, 15078, 24005, 20018, 20126, 14042, 19008, 13029, 20398, 24042, 20416, 20316, 21187, 20546, 20442, 16064, 21159, 13006, 16005, 14082, 20024, 17022, 16031, 30093, 17024, 25015, 26042, 18018, 11011, 13045, 20182, 20028, 21170, 26054, 11029, 12014, 16108, 31039, 16104, 22008, 21198, 20557, 11039, 21100, 15038, 21039, 20440, 11008, 20236, 20373, 12009, 30162, 20522, 10013, 8059, 20271, 21193, 15041, 20487, 32047, 31095, 12079, 32043, 26067, 11009, 14090, 21103, 32023, 20527, 14033, 20234, 20280, 13005, 14048, 20262, 17007, 20116, 30164, 20302, 26057, 20060, 14103, 20201, 24015, 20449, 30088, 20309, 32034, 20209, 15093, 21147, 20006, 21032, 30035, 20514, 29006, 22016, 16046, 14050, 20512, 20431, 32019, 31041, 16027, 17023, 16054, 16040, 15090, 16100, 24050, 20333, 20123, 20139, 14031, 20306, 14119, 30166, 11022, 14071, 20059, 11028, 19034, 26029, 30056, 20496, 13003, 20279, 15097, 20446, 20143, 30025, 26006, 12024, 20016, 13063, 21081, 15066, 15025, 21027, 12074, 14097, 8010, 16028, 11020, 31003, 12080, 31054, 20187, 20435, 15085, 7085, 15047, 24018, 20176, 10012, 12070, 31106, 31068, 30133, 20021, 14003, 30112, 20478, 20535, 31004, 16037, 20405, 12020, 16067, 21078, 11042, 15009, 26019, 20339, 31025, 20511, 17015, 20149, 7121, 24020, 26044, 31027, 16030, 20210, 14023, 17017, 21058, 21175, 15037, 13004, 16063, 13007, 31072, 15062, 21003, 30046, 20517, 30013, 16094, 20454, 31088, 15103, 20133, 11032, 12077, 21049, 14115, 12030, 7029, 32048, 15088, 12018, 20003, 22014, 12008, 25001, 19013, 20161, 15051, 21051, 20058, 20179, 8018, 1003, 31031, 20001, 12033, 24052, 15004, 15118, 19018, 14052, 30060, 31026, 25018, 20131, 15077, 13036, 14076, 24006, 22001, 21109, 16093, 14075, 32007, 17019, 30205, 16070, 30163, 15015, 31024, 20130, 20300, 20150, 21179, 20263, 16001, 21050, 24026, 14093, 24051, 22005, 16061, 16012, 32012, 20421, 20504, 16087, 20104, 15056, 19037, 31034, 26035, 20365, 24014, 20347, 8057, 10018, 12049, 16050, 30156, 5026, 20443, 31015, 20357, 21138, 32020, 15046, 20505, 31049, 20113, 14121, 26041, 14026, 13016, 30197, 7122, 20134, 20156, 32010, 22018, 15045, 12066, 22013, 20348, 21061, 20031, 14112, 20366, 31009, 11003, 30129, 31086, 20053, 24012, 31074, 20242, 14110, 20477, 20188, 22011, 16091, 20193, 31046, 12023, 20392, 13033, 20008, 20427, 20394, 21016, 31065, 16081, 20549, 12064, 20229, 26027, 12019, 5018, 15060, 7007, 13026, 1008, 26008, 20548, 20189, 20231, 24034, 30055, 32028, 20071, 13012, 20298, 21085, 20544, 20108, 31103, 19031, 7083, 21188, 24047, 7075, 12036, 20448, 11002, 16073, 24011, 18016, 20428, 15032, 8043, 26018, 32033, 31035, 20019, 20473, 11019, 13024, 15119, 7086, 7111, 12031, 20337, 20453, 30153, 30150, 16080, 14045, 31016, 30057, 16111, 24057, 15001, 20397, 31002, 16016, 15099, 5021, 16033, 15113, 20177, 31100, 16032, 14102, 15111, 26005, 12047, 20426, 20414, 15052, 20185, 19036, 12072, 16021, 31047, 13038, 20173, 7049, 31059, 20043, 20465, 30079, 21195, 19004, 20273, 16047, 20424, 15039, 16098, 14053, 30183, 21116, 20495, 14011, 5005, 14014, 20437, 21111, 15007, 15117, 11006, 13078, 12037, 20208, 16065, 26009, 13002, 30076, 20082, 13020, 32026, 31090, 5016, 20260, 11040, 12035, 21183, 13015, 13011, 11046, 16085, 20318, 20415, 26002, 32055, 11023, 20117, 14036, 19039, 20537, 26015, 16089, 20272, 31070, 16090, 20450, 15026, 20296, 32031, 8025, 19042, 20217, 20041, 29034, 30092, 15124, 30078, 20098, 9012, 20291, 24039, 20009, 20037, 17009, 20319, 12025, 31045, 30154, 19028, 20166, 21178, 20566, 16072, 16084, 20213, 31063, 31077, 30170, 20330, 13080, 21086, 8006, 8054, 19014, 7112, 13057, 7104, 7014, 13079, 20010, 15112, 20153, 12042, 14120, 20401, 24038, 16022, 13060, 15021, 12060, 20326, 24004, 16038, 6005, 20543, 21180, 20516, 16024, 12045, 18006, 24055, 20012, 20253, 26061, 20344, 11015, 20076, 20472, 14010, 30180, 31057, 12026, 20141, 20336, 20526, 13034, 12063, 16056, 30038, 24053, 14059, 21087, 20137, 32042, 13043, 31018, 21036, 31067, 32009, 12017, 7093, 18013, 30202, 16071, 14034, 7044, 12061, 22015, 7022, 14032, 16025, 13049, 20282, 21010, 12081, 20202, 13027, 14079, 6010, 14040, 20500, 20211, 12015, 19016, 5011, 17025, 20439, 13042, 20363, 20214, 20560, 14122, 20014, 28023, 16029, 20489, 12010, 31042, 16057, 7094, 21047, 7117, 11030, 6001, 31036, 14019, 12059, 31037, 28021, 20212, 16058, 6003, 20254, 31062, 16014, 19002, 14106, 13014, 28003, 30027, 30024, 7109, 20220, 21071, 20200, 8049, 31028, 15082, 31029, 22004, 16059, 4012, 21217, 16068, 28028, 20458, 13040, 20275, 20088, 13018, 24041, 12046, 7038, 14099, 20066, 30198, 16079, 16107, 13084, 7047, 20502, 5024, 7026, 13081, 21145, 31075, 11043, 16019, 30063, 16066, 12004, 3008, 30065, 7120, 14028, 31006, 13068, 8019, 11033, 13037, 10025, 20491, 31094, 7023, 7078, 20325, 20232, 15080, 3003, 12027, 32021, 24002, 12028, 31055, 26031, 20570, 31073, 16110, 18002, 13046, 12002, 15110, 31084, 14006, 19032, 7027, 15008, 20406, 7125, 28020, 13025, 26010, 20064, 7106, 20324, 15063, 21197, 20171, 24040, 19051, 21064, 18003, 13047, 6006, 16013, 31080, 15105, 8017, 20554, 28030, 16112, 28043, 14086, 24029, 20036, 21053, 31001, 12039, 18007, 19009, 30004, 12071, 10039, 24027, 31023, 20418, 20412, 31011, 14049, 16095, 31087, 30011, 16075, 19044, 20175, 15123, 20417, 12007, 20085, 13031, 20386, 20005, 31044, 31101, 14108, 13053, 14094, 31089, 19043, 12006, 18008, 20460, 20073, 20457, 24019, 20482, 14021, 20513, 14015, 24037, 30152, 20327, 20410, 14056, 13062, 14088, 18015, 20413, 28005, 13028, 12041, 5027, 8048, 28004, 14012, 20184, 16035, 31076, 19045, 7041, 20466, 20278, 14069, 16053, 30072, 20470, 12056, 7009, 12043, 15086, 18011, 5006, 28031, 31010, 31033, 20002, 14113, 24023, 20467, 20307, 12058, 8034, 14062, 13073, 6004, 12078, 6008, 31012, 31053, 24030, 12034, 20525, 19022, 24032, 12044, 19030, 11045, 24054, 12055, 14017, 28006, 16099, 7024, 19011, 6002, 16082, 7064, 24008, 20447, 16009, 23001, 28018, 13071, 20266, 28026, 30151, 12076, 20052, 31017, 20136, 18014, 30083, 8041, 19048, 30123, 12051, 28013, 12075, 31022, 12062, 20159, 24031, 25009, 28042, 20377, 14067, 10017, 20364, 31092, 22002, 28035, 5038, 16083, 28011, 16097, 31066, 12053, 14038, 12040, 28036, 16006, 18020, 30161, 8035, 20468, 16092, 31069, 28001, 5031, 31038, 20469, 20042, 20277, 26040, 22003, 19049, 7030, 16101, 20334, 22010, 5030, 16052, 20205, 7046, 24017, 25008, 5023, 10001, 8012, 12012, 18012, 18001, 12052, 12073, 14065, 20198, 23003, 20559, 24058, 24003, 28012, 20515, 16102, 7099, 20498, 31048, 30121, 16049, 8013, 26052, 5004, 18010, 24024, 16002, 6007, 16034, 30155, 4007, 31056, 4008, 16026, 8008, 8047, 24010, 32049, 14085, 28010, 14080, 14087, 7108, 19024, 12001, 8030, 28039, 20057, 18017, 19038, 28041, 22009, 8020, 12038, 23011, 26069, 19033, 20265, 14027, 20190, 12003, 24036, 26049, 8051, 19017, 19007, 12068, 12032, 18019, 12011, 4001, 28029, 8066, 25013, 18004, 28016, 14043, 12048, 26051, 8009, 12021, 25012, 14020, 25010, 16096, 20125, 14068, 18005, 7020, 8046, 28034, 14058, 12054, 31104, 5020, 12016, 7017, 24013, 12029, 20207, 25014, 12022, 28002, 8031, 8065, 8007, 14084, 28019, 25004, 8063, 16008, 25005, 16010, 28017, 25007, 26003, 23009, 14100, 12057, 28008, 16015, 10009, 18009, 8027, 28037, 25003, 10026, 25017, 25016, 20407, 8040, 4004, 8029, 4006], [21034, 9006, 19046, 9002, 8005, 15122, 9011, 8004, 9007, 8045, 19025, 8032, 20490, 2002, 15020, 30026, 30191, 7113, 2004, 9010, 30036, 30139, 30016, 5035, 12013, 21213, 17020, 5002, 7034, 5007, 14022, 6009, 30009, 2001, 7008, 7019, 14061, 7097, 7107], [21119, 8037, 9017, 15024, 15070, 10007, 21173, 9016, 10038, 30138, 30206, 30146, 30140, 21017, 30090, 15057, 30107, 21068, 7002, 7063, 30087, 28032, 30075, 30001, 30211, 30105, 10022, 21156, 30177, 30178, 9009, 30015, 21208, 7124, 4005, 31058, 25006, 4002], [30028, 7055, 21211, 30119, 30041, 30118, 21080, 30186, 30176, 30199, 21084, 30190, 21101, 21105, 30193, 10015, 30208, 21204, 21114, 30053, 21014, 30005, 21184, 30084, 21174, 7101, 20044, 21002, 7072, 31099, 31071, 31081, 31050, 31032, 23005, 23008, 10005, 10032, 4003], [30120, 21029, 30098, 7035, 30030, 30131, 21216, 30052, 30113, 30196, 21210, 30068, 30116, 30145, 21077, 21072, 21123, 30034, 30179, 21200, 30054, 30165, 31005, 7088, 31078, 21025, 21075, 30188, 30014, 30082, 30021, 30111, 30167, 21194, 30071, 30102, 7013, 7100, 31021, 31019], [10031, 30018, 30019, 21088, 30062, 21192, 30103, 30184, 30008, 30159, 21107, 7010, 30126, 7053, 30099, 21158, 21202, 30042, 21054, 21006, 31007, 30200, 31060, 30181, 30114, 31043, 31014, 30157, 30192, 7012, 31008, 31030, 30109, 31040, 31091, 10002, 10019, 10037, 10035], [30194, 30064, 30007, 30037, 30137, 7091, 30067, 30171, 30050, 21044, 30022, 21199, 30115, 30020, 30203, 21167, 7073, 30045, 30110, 7087, 30127, 30069, 30029, 30059, 7074, 30044, 30086, 30048, 30039, 21089, 31093, 30104, 30212, 30158, 30209, 21186, 21083, 21076, 31097], [10029, 10006, 10030, 30195, 30100, 30101, 7036, 30117, 7070, 21094, 30132, 7090, 10003, 7102, 7045, 30040, 21207, 30080, 30095, 7025, 31052, 30204, 7001, 7006, 10033, 30143, 21172, 30010, 7079, 30189, 7068, 30130, 31085, 7051, 31098, 30160, 7069, 31102, 31096], [10027, 30148, 7060, 30207, 30125, 30033, 27013, 30049, 30085, 7042, 30147, 30168, 30006, 7082, 7043, 30134, 30169, 7050, 21212, 7084, 30089, 21043, 30094, 7011, 30122, 7033, 30174, 30077, 30175, 7048, 30142, 30032, 30023, 30070, 30173, 30091, 7096, 31079, 23010], [10016, 30066, 7105, 30031, 7067, 30047, 30051, 27010, 30043, 30172, 7016, 7103, 7037, 7066, 7015, 30144, 27007, 30003, 7076, 7071, 7040, 7003, 7021, 7081, 30201, 30149, 30073, 7032, 7062, 30141, 7115, 30058, 30108, 7061, 30061, 23007, 10023, 23006, 23004], [7018, 30128, 7054, 27009, 27016, 27014, 27006, 7005, 27004, 7039, 7080, 27005, 27011, 7092, 27015, 27012, 7057, 7089, 30124, 27003, 7116, 27002, 7114, 7077, 7004, 27017, 27001, 7031, 27008, 30210, 7065, 10014, 7052, 4011, 4009, 10034, 7059, 23002, 4010]]

Dado que en `covariables_sv.csv` hay un cuantil que agrupa los municipios con un total de 0 en cada año, se debe hacer lo mismo con los obtenidos anteriormente para poder compararlos.

In [22]:
total_sv19_df = quantiles(sv19_df, 'Total 2019', 'CVE_MUNICIPIO', n=10, groupZeros=True)
total_sv19_df

,name,bin,lower,upper,cells
0,Total 2019,0,0.0,0.0,"[13023, 19017, 19018, 19020, 19021, 19022, 190..."
1,Total 2019,1,5000.0,50000.0,"[2002, 27999, 7107, 20490, 30999, 7999, 19046,..."
2,Total 2019,2,50000.0,215000.0,"[17020, 30191, 15070, 9009, 15024, 7124, 30090..."
3,Total 2019,3,250000.0,2945000.0,"[21105, 23005, 30118, 30028, 30190, 20044, 100..."
4,Total 2019,4,2945000.0,7040000.0,"[30131, 21077, 30068, 30102, 21210, 30052, 301..."
5,Total 2019,5,7200000.0,10190000.0,"[31014, 31008, 30042, 30157, 31043, 21192, 300..."
6,Total 2019,6,10320000.0,18115000.0,"[31097, 30110, 30039, 21044, 30137, 30020, 211..."
7,Total 2019,7,18565000.0,24765000.0,"[10029, 30189, 30010, 30204, 30160, 7102, 1000..."
8,Total 2019,8,25410000.0,42605000.0,"[30032, 7084, 30134, 30168, 7096, 30089, 7050,..."
9,Total 2019,9,42670000.0,58310000.0,"[7067, 10016, 30047, 7105, 10023, 30043, 30031..."
10,Total 2019,10,60360000.0,908500000.0,"[7054, 23002, 7031, 7052, 30128, 30210, 7018, ..."

Los cuantiles generados coinciden con los de `covariables.csv`, a excepción de los municipios que no se encuentran en 2019-2020 pero sí en 2019 (27999, 30999, 7999), y los municipios 30191, 17020 y 30120 debido a la diferente distribución de los cuantiles en `covariables.csv`.

In [23]:
for i in range(0, 11):
    q_total_sv19 = total_sv19_df['cells'][i]
    res = [x for x in q_cov19[i] + q_total_sv19 if x not in q_cov19[i] or x not in q_total_sv19]
    print("Dif en q", i, ":", res)

Dif en q 0 : []
Dif en q 1 : [30191, 17020, 27999, 30999, 7999]
Dif en q 2 : [17020, 30191]
Dif en q 3 : [30120]
Dif en q 4 : [30120]
Dif en q 5 : []
Dif en q 6 : []
Dif en q 7 : []
Dif en q 8 : []
Dif en q 9 : []
Dif en q 10 : []

In [24]:
total_sv20_df = quantiles(sv20_df, 'Total 2020', 'CVE_MUNICIPIO', n=10, groupZeros=True)
total_sv20_df

,name,bin,lower,upper,cells
0,Total 2020,0,0.0,0.0,"[13024, 19018, 19020, 19021, 19022, 19023, 190..."
1,Total 2020,1,5000.0,45000.0,"[18017, 15058, 15109, 16006, 16058, 16087, 190..."
2,Total 2020,2,45000.0,1160000.0,"[30118, 7099, 30106, 23005, 21173, 8018, 30028..."
3,Total 2020,3,1160000.0,2450000.0,"[20303, 21039, 31101, 20164, 20423, 20230, 202..."
4,Total 2020,4,2545000.0,4460000.0,"[20250, 12022, 30119, 20552, 20262, 20562, 204..."
5,Total 2020,5,4495000.0,7345000.0,"[31054, 21183, 12035, 20221, 21025, 20480, 170..."
6,Total 2020,6,7375000.0,11130000.0,"[29008, 20486, 30196, 20130, 28026, 21208, 100..."
7,Total 2020,7,11195000.0,17370000.0,"[7012, 30099, 21086, 31093, 30137, 30059, 3004..."
8,Total 2020,8,17520000.0,25860000.0,"[12038, 17015, 21064, 30101, 24026, 20036, 707..."
9,Total 2020,9,25895000.0,44670000.0,"[20052, 31102, 16038, 30032, 29034, 7084, 1606..."
10,Total 2020,10,44950000.0,955155000.0,"[10005, 7067, 30043, 30047, 10027, 7105, 30031..."

Aquí también coinciden los cuantiles generados con los de `covariables.csv`, a excepción del municipio que no se encuentran en 2019-2020 pero sí en 2020 (18999), y los municipios 21063, 20440 también debido a la diferente distribución de los cuantiles en `covariables.csv`.

In [25]:
for i in range(0, 11):
    q_total_sv20 = total_sv20_df['cells'][i]
    res = [x for x in q_cov20[i] + q_total_sv20 if x not in q_cov20[i] or x not in q_total_sv20]
    print("Dif en q", i, ":", res)

Dif en q 0 : []
Dif en q 1 : [18999, 21063]
Dif en q 2 : [21063, 20440]
Dif en q 3 : [20440]
Dif en q 4 : []
Dif en q 5 : []
Dif en q 6 : []
Dif en q 7 : []
Dif en q 8 : []
Dif en q 9 : []
Dif en q 10 : []

In [26]:
total_sv1920_df = quantiles(sv1920_df, 'Total 2019-2020', 'ET_ID', n=10, groupZeros=True)
total_sv1920_df

,name,bin,lower,upper,cells
0,Total 2019-2020,0,0.0,0.000000e+00,"[13027, 19018, 19020, 19021, 19022, 19023, 190..."
1,Total 2019-2020,1,5000.0,8.500000e+04,"[16006, 20357, 16087, 18017, 19038, 16058, 280..."
2,Total 2019-2020,2,85000.0,1.100000e+06,"[9016, 13081, 16029, 21126, 7063, 8037, 12055,..."
3,Total 2019-2020,3,1145000.0,2.610000e+06,"[21102, 21028, 31038, 21039, 20303, 20440, 311..."
4,Total 2019-2020,4,2620000.0,4.820000e+06,"[20404, 29047, 20128, 17018, 20257, 20173, 804..."
5,Total 2019-2020,5,4855000.0,8.225000e+06,"[20283, 29052, 17033, 20075, 20270, 12030, 204..."
6,Total 2019-2020,6,8370000.0,1.454000e+07,"[21159, 30054, 10015, 20520, 30150, 20274, 804..."
7,Total 2019-2020,7,14565000.0,2.132000e+07,"[4008, 21070, 13026, 31043, 30157, 12074, 1801..."
8,Total 2019-2020,8,21385000.0,3.645000e+07,"[7012, 24014, 30039, 21044, 21199, 21186, 1605..."
9,Total 2019-2020,9,36485000.0,7.286000e+07,"[30007, 25005, 8066, 13025, 24046, 30151, 2405..."
10,Total 2019-2020,10,72950000.0,1.863655e+09,"[30175, 4006, 30148, 25007, 30123, 7033, 25017..."

El único municipio que no coincide (8019) también se debe a la diferente distribución de los cuantiles en `covariables.csv`

In [27]:
for i in range(0, 11):
    q_total_sv1920 = total_sv1920_df['cells'][i]
    res = [x for x in q_cov1920[i] + q_total_sv1920 if x not in q_cov1920[i] or x not in q_total_sv1920]
    print("Dif en q", i, ":", res)

Dif en q 0 : []
Dif en q 1 : [8019]
Dif en q 2 : [8019]
Dif en q 3 : []
Dif en q 4 : []
Dif en q 5 : []
Dif en q 6 : []
Dif en q 7 : []
Dif en q 8 : []
Dif en q 9 : []
Dif en q 10 : []